<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075612384923-a5nkpoithfn2tr4pnust0fnjq9qguc0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075612384923-a5nkpoithfn2tr4pnust0fnjq9qguc0q</string>
	<key>API_KEY</key>
	<string>AIzaSyC3v308ZGEDK8GlC7AOTGxNKqeLRWtpeY4</string>
	<key>GCM_SENDER_ID</key>
	<string>1075612384923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timerChellenge</string>
	<key>PROJECT_ID</key>
	<string>oneminutegame-31557</string>
	<key>STORAGE_BUCKET</key>
	<string>oneminutegame-31557.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075612384923:ios:ec4919d8696e888c45d03e</string>
</dict>
</plist>